[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/testmadhavi
[access "refs/for/refs/*"]
	read = group user/testmadhavi
	push = group user/testmadhavi
	label-Code-Review = -2..+2 group user/testmadhavi
	label-Verified = -1..+1 group user/testmadhavi
	rebase = group user/testmadhavi
	removeReviewer = group user/testmadhavi
	submit = group user/testmadhavi
[access "refs/heads/*"]
	read = group user/testmadhavi
	create = group user/testmadhavi
	push = +force group user/testmadhavi
	pushMerge = group user/testmadhavi
[access "refs/tags/*"]
	push = group user/testmadhavi
	push = +force group user/testmadhavi
